<!DOCTYPE html>
<html>
<head>
	<title>Dashboard</title>
	<!-- Bootstrap CSS -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

	<!-- Font Awesome CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-ePzRihfn/8B1FXT69pNjrjDl5p5y5zfNY16v/G9X6AKQK6/CgU6Sw8Uv1ZOc3qkq6opKjQW8IvO9XgOYdejKZw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<style>
		.profile-area {
			margin-top: 20px;
		}
		.events-section {
			margin-top: 50px;
		}
	</style>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="/"><i class="fas fa-home"></i></a>
		<a href="/"><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span></a>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item active">
					<a class="nav-link" href="/">Home</a>
				</li>
			</ul>
		</div>
		<form action="/logout">
			<button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Logout</button>
		</form>
	</nav>

	<div class="container profile-area">
		<div class="row">
			<div class="col-md-3">
				<img src="https://robohash.org/<%= user.fname %>?set=set4&size=150x150" alt="Profile Picture" class="img-fluid rounded-circle">
			</div>
			<div class="col-md-9">
				<h2><%= user.fname%> <%=user.lname %> </h2>
				<p>User Id:<%=user.id%></p>
				<p>Email: <%= user.username %></p>
				<p>Phone: <%= user.ph %></p>
			</div>
		</div>
	</div>
	<hr>
	<div class="container events-section">
		<h3 class="text-center">Events Registered</h3>
		<div class="card-deck">
				<div class="accordion" id="accordionExample">
				  <div class="accordion-item">
					<h2 class="accordion-header">
					  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse">
						Access
					  </button>
					</h2>
					<% if (user.Access.length === 0) { %>
						<div id="collapse1" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
							<div class="accordion-body">
								<div>You have not registered for any Access events yet. <br><br> <a href="/Access"><button class="btn btn-success">Register for an Event</button></a></div>
							</div>
						  </div>
					<% }else{ %>
					<div id="collapse1" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
					  <div class="accordion-body">
						<%user.Access.forEach(event=>{%>
							<ul>
								<li>
									<%=event%>
								</li>
							</ul>
						<%})%>
					  </div>
					</div>
				  </div>
				</div>
			  <% } %>
		</div>
		<div class="card-deck">
			<div class="accordion" id="accordionExample">
			  <div class="accordion-item">
				<h2 class="accordion-header">
				  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="true" aria-controls="collapse">
					Biogenesis
				  </button>
				</h2>
				<% if (user.Biogenesis.length === 0) { %>
					<div id="collapse2" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
						<div class="accordion-body">
							<div>You have not registered for any Access events yet. <br><br> <a href="/Biogenesis"><button class="btn btn-success">Register for an Event</button></a></div>
						</div>
					  </div>
				<% }else{ %>
				<div id="collapse2" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
				  <div class="accordion-body">
					<%user.Biogenesis.forEach(event=>{%>
						<ul>
							<li>
								<%=event%>
							</li>
						</ul>
					<%})%>
				  </div>
				</div>
			  </div>
			</div>
		  <% } %>
	</div>
	<div class="card-deck">
		<div class="accordion" id="accordionExample">
		  <div class="accordion-item">
			<h2 class="accordion-header">
			  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="true" aria-controls="collapse">
				Electronica
			  </button>
			</h2>
			<% if (user.Electronica.length === 0) { %>
				<div id="collapse3" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
					<div class="accordion-body">
						<div>You have not registered for any Access events yet. <br><br> <a href="/Electronica"><button class="btn btn-success">Register for an Event</button></a></div>
					</div>
				  </div>
			<% }else{ %>
			<div id="collapse3" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
			  <div class="accordion-body">
				<%user.Electronica.forEach(event=>{%>
					<ul>
						<li>
							<%=event%>
						</li>
					</ul>
				<%})%>
			  </div>
			</div>
		  </div>
		</div>
	  <% } %>
</div>
<div class="card-deck">
	<div class="accordion" id="accordionExample">
	  <div class="accordion-item">
		<h2 class="accordion-header">
		  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="true" aria-controls="collapse">
			Equilibria
		  </button>
		</h2>
		<% if (user.Equilibria.length === 0) { %>
			<div id="collapse4" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
				<div class="accordion-body">
					<div>You have not registered for any Access events yet. <br><br> <a href="/Equilibria"><button class="btn btn-success">Register for an Event</button></a></div>
				</div>
			  </div>
		<% }else{ %>
		<div id="collapse4" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
		  <div class="accordion-body">
			<%user.Equilibria.forEach(event=>{%>
				<ul>
					<li>
						<%=event%>
					</li>
				</ul>
			<%})%>
		  </div>
		</div>
	  </div>
	</div>
  <% } %>
</div>
<div class="card-deck">
	<div class="accordion" id="accordionExample">
	  <div class="accordion-item">
		<h2 class="accordion-header">
		  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="true" aria-controls="collapse">
			Informatica
		  </button>
		</h2>
		<% if (user.Informatica.length === 0) { %>
			<div id="collapse5" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
				<div class="accordion-body">
					<div>You have not registered for any Access events yet. <br><br> <a href="/Informatica"><button class="btn btn-success">Register for an Event</button></a></div>
				</div>
			  </div>
		<% }else{ %>
		<div id="collapse5" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
		  <div class="accordion-body">
			<%user.Informatica.forEach(event=>{%>
				<ul>
					<li>
						<%=event%>
					</li>
				</ul>
			<%})%>
		  </div>
		</div>
	  </div>
	</div>
  <% } %>
</div>
<div class="card-deck">
	<div class="accordion" id="accordionExample">
	  <div class="accordion-item">
		<h2 class="accordion-header">
		  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6" aria-expanded="true" aria-controls="collapse">
			Mathematica
		  </button>
		</h2>
		<% if (user.Mathematica.length === 0) { %>
			<div id="collapse6" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
				<div class="accordion-body">
					<div>You have not registered for any Access events yet. <br><br> <a href="/Mathematica"><button class="btn btn-success">Register for an Event</button></a></div>
				</div>
			  </div>
		<% }else{ %>
		<div id="collapse6" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
		  <div class="accordion-body">
			<%user.Mathematica.forEach(event=>{%>
				<ul>
					<li>
						<%=event%>
					</li>
				</ul>
			<%})%>
		  </div>
		</div>
	  </div>
	</div>
  <% } %>
</div>
<div class="card-deck">
	<div class="accordion" id="accordionExample">
	  <div class="accordion-item">
		<h2 class="accordion-header">
		  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse7" aria-expanded="true" aria-controls="collapse">
			Optica
		  </button>
		</h2>
		<% if (user.Optica.length === 0) { %>
			<div id="collapse7" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
				<div class="accordion-body">
					<div>You have not registered for any Access events yet. <br><br> <a href="/Optica"><button class="btn btn-success">Register for an Event</button></a></div>
				</div>
			  </div>
		<% }else{ %>
		<div id="collapse7" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
		  <div class="accordion-body">
			<%user.Optica.forEach(event=>{%>
				<ul>
					<li>
						<%=event%>
					</li>
				</ul>
			<%})%>
		  </div>
		</div>
	  </div>
	</div>
  <% } %>
</div>
<div class="card-deck">
	<div class="accordion" id="accordionExample">
	  <div class="accordion-item">
		<h2 class="accordion-header">
		  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse8" aria-expanded="true" aria-controls="collapse">
			Pabbaja
		  </button>
		</h2>
		<% if (user.Pabbaja.length === 0) { %>
			<div id="collapse8" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
				<div class="accordion-body">
					<div>You have not registered for any Access events yet. <br><br> <a href="/Pabbaja"><button class="btn btn-success">Register for an Event</button></a></div>
				</div>
			  </div>
		<% }else{ %>
		<div id="collapse8" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
		  <div class="accordion-body">
			<%user.Pabbaja.forEach(event=>{%>
				<ul>
					<li>
						<%=event%>
					</li>
				</ul>
			<%})%>
		  </div>
		</div>
	  </div>
	</div>
  <% } %>
</div>
<div class="card-deck">
	<div class="accordion" id="accordionExample">
	  <div class="accordion-item">
		<h2 class="accordion-header">
		  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse9" aria-expanded="true" aria-controls="collapse">
			Robotics
		  </button>
		</h2>
		<% if (user.Robotics.length === 0) { %>
			<div id="collapse9" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
				<div class="accordion-body">
					<div>You have not registered for any Access events yet. <br><br> <a href="/Robotics"><button class="btn btn-success">Register for an Event</button></a></div>
				</div>
			  </div>
		<% }else{ %>
		<div id="collapse9" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
		  <div class="accordion-body">
			<%user.Robotics.forEach(event=>{%>
				<ul>
					<li>
						<%=event%>
					</li>
				</ul>
			<%})%>
		  </div>
		</div>
	  </div>
	</div>
  <% } %>
</div>
<div class="card-deck">
	<div class="accordion" id="accordionExample">
	  <div class="accordion-item">
		<h2 class="accordion-header">
		  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse10" aria-expanded="true" aria-controls="collapse">
			Sportiva
		  </button>
		</h2>
		<% if (user.Sportiva.length === 0) { %>
			<div id="collapse10" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
				<div class="accordion-body">
					<div>You have not registered for any Access events yet. <br><br> <a href="/Sportiva"><button class="btn btn-success">Register for an Event</button></a></div>
				</div>
			  </div>
		<% }else{ %>
		<div id="collapse10" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
		  <div class="accordion-body">
			<%user.Sportiva.forEach(event=>{%>
				<ul>
					<li>
						<%=event%>
					</li>
				</ul>
			<%})%>
		  </div>
		</div>
	  </div>
	</div>
  <% } %>
</div>
<div class="card-deck">
	<div class="accordion" id="accordionExample">
	  <div class="accordion-item">
		<h2 class="accordion-header">
		  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse11" aria-expanded="true" aria-controls="collapse">
			Emulsion
		  </button>
		</h2>
		<% if (user.Emulsion.length === 0) { %>
			<div id="collapse11" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
				<div class="accordion-body">
					<div>You have not registered for any Access events yet. <br><br> <a href="/Emulsion"><button class="btn btn-success">Register for an Event</button></a></div>
				</div>
			  </div>
		<% }else{ %>
		<div id="collapse11" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
		  <div class="accordion-body">
			<%user.Emulsion.forEach(event=>{%>
				<ul>
					<li>
						<%=event%>
					</li>
				</ul>
			<%})%>
		  </div>
		</div>
	  </div>
	</div>
  <% } %>
</div>
	  </div>
	  



	<!-- jQuery and Bootstrap JS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>